.content
  .container-fluid
    = render 'shared/flash_messages'
    .row
      .col-sm-9.col-md-9.mx-auto 
        .card
          .card-header
            %h4.card-title.text-center 
              %i.fa.fa-photo
              = @cust_pic.capture_seq_nbr
              .pull-right= link_to "<i class='fa fa-close'></i>".html_safe, :back
          .card-body
            %p
              =# image_tag("#{request.protocol}#{request.host}#{@cust_pic.url}", alt: @cust_pic.capture_seq_nbr, class: 'img img-fluid img-thumbnail')
              = image_tag(@cust_pic.azure_url, alt: @cust_pic.capture_seq_nbr, class: 'img img-fluid img-thumbnail')
            %p.card-text
              = @cust_pic.sys_date_time
              %br
              %strong
                Customer Number
              = link_to @cust_pic.cust_nbr, cust_pics_path(customer_number: @cust_pic.cust_nbr) unless @cust_pic.cust_nbr.blank?
              %br
              %strong Camera
              = @cust_pic.camera_name
              %br
              %strong
                Event Code
              = link_to @cust_pic.event_code, cust_pics_path(event_code: @cust_pic.event_code) unless @cust_pic.event_code.blank?
              %br
              %strong
                First Name
              = link_to @cust_pic.first_name, cust_pics_path(first_name: @cust_pic.first_name) unless @cust_pic.first_name.blank?
              %br
              %strong
                Last Name
              = link_to @cust_pic.last_name, cust_pics_path(last_name: @cust_pic.last_name) unless @cust_pic.last_name.blank?