.wrapper
  = render 'shared/admin_sidebar'
  .main-panel
    = render 'shared/admin_dashboard_navbar'
    .content{style: 'margin-top: 0px;'}
      .container-fluid
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12
            .card
              .card-header.card-header-primary
                %h4.card-title 
                  Users
                  .pull-right
                    %a{:href => new_users_admin_path}
                      %i.fa.fa-plus
                      New
              .card-body.table-responsive
                - unless @users.blank?
                  %table.table.table-hover
                    %thead.text-warning
                      - unless browser.device.mobile?
                        %th= "First Name"
                        %th= "Last Name"
                      - else
                        %th Name
                      %th Email
                      - unless browser.device.mobile?
                        %th Role
                        %th Customer Name
                        %th Active
                      %td
                    %tbody
                      - @users.each do |user|
                        %tr
                          - unless browser.device.mobile?
                            %td= user.first_name
                            %td= user.last_name
                          - else
                            %td= user.full_name
                          %td= user.email
                          - unless browser.device.mobile?
                            %td= user.role
                            %td= user.customer_name.blank? ? 'N/A' : user.customer_name
                            %td= user.active? ? 'Yes' : 'No'
                          %td
                            = link_to 'Show', users_admin_path(user), class: 'btn btn-info btn-sm'
                            = link_to 'Edit', edit_users_admin_path(user), class: 'btn btn-primary btn-sm'
                - else
                  %p None
              .card-footer
                =# paginate @users