.wrapper
  = render 'shared/admin_sidebar'
  .main-panel
    = render 'shared/admin_dashboard_navbar'
    .content{style: 'margin-top: 0px;'}
      .container-fluid
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12
            .card
              .card-header.card-header-primary
                %h4.card-title 
                  Users
                  .pull-right
                    %a{:href => new_users_admin_path}
                      %i.fa.fa-plus
                      New
              .card-body.table-responsive-lg
                - unless @users.blank?
                  %table.table.table-hover
                    %thead
                      -# %th Email
                      %th= users_sort_link 'email', 'Email', params[:role]
                      %th= users_sort_link 'first_name', 'First', params[:role]
                      %th= users_sort_link 'last_name', 'Last', params[:role]
                      - unless browser.device.mobile?
                        %th= users_sort_link 'role', 'Role', params[:role]
                        %th= users_sort_link 'customer_name', 'Customer', params[:role]
                        %th= users_sort_link 'sign_in_count', 'Sign In Count', params[:role]
                        %th= users_sort_link 'current_sign_in_at', 'Current Sign In', params[:role]
                        %th= users_sort_link 'current_sign_in_ip', 'Current IP', params[:role]
                    %tbody
                      - @users.each do |user|
                        %tr{class: user.active? ? '' : 'table-warning'}
                          %td= link_to user.email, users_admin_path(user)
                          - unless browser.device.mobile?
                            %td= user.first_name
                            %td= user.last_name
                          - else
                            %td= user.full_name
                          - unless browser.device.mobile?
                            %td= user.role
                            %td= user.customer_name.blank? ? 'N/A' : user.customer_name
                            %td= user.sign_in_count
                            %td= user.current_sign_in_at.strftime('%-m/%-d/%Y %l:%M %p') unless user.current_sign_in_at.blank?
                            %td= user.current_sign_in_ip
                - else
                  %p None
              .card-footer
                =# paginate @users