.wrapper
  = render 'shared/admin_sidebar'
  .main-panel
    = render 'shared/admin_dashboard_navbar'
    .content{style: 'margin-top: 0px;'}
      .container-fluid
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12
            .card
              .card-header.card-header-primary
                %h4.card-title
                  = "#{@user.full_name}"
                  .pull-right
                    %a{href: edit_users_admin_path(@user)}
                      %i.fa.fa-pencil-square-o
                      Edit
              .card-body
                Email:
                = @user.email
                %br
                Role:
                = @user.role
                %br
                Active:
                = @user.active? ? 'Yes' : 'No'
                - unless @user.customer_name.blank?
                  %br
                  Customer Name:
                  = @user.customer_name
                - if @user.confirmed?
                  %br
                  - if @user.sign_in_count > 0
                    Sign In Count:
                    = @user.sign_in_count
                    %br
                    Current Sign In At:
                    =# @user.current_sign_in_at.in_time_zone(current_user.time_zone).strftime('%-m/%-d/%Y %l:%M %p')
                    = @user.current_sign_in_at.strftime('%-m/%-d/%Y %l:%M %p')
                    %br
                    Last Sign In At:
                    =# @user.last_sign_in_at.in_time_zone(current_user.time_zone).strftime('%-m/%-d/%Y %l:%M %p')
                    = @user.last_sign_in_at.strftime('%-m/%-d/%Y %l:%M %p')
                    %br
                    Current Sign In IP:
                    = @user.current_sign_in_ip
                    %br
                    Last Sign In IP:
                    = @user.last_sign_in_ip
                - else
                  .text-danger Waiting for user to confirm account
                %br
                
              .card-footer
                %a{href: users_admin_index_path}
                  %i.fa.fa-angle-left
                  Back