.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => asset_path("sidebar-1.jpg")}
  .logo
    .col-xs-12
      %a.simple-text.logo-normal{:href => 'https://www.tranact.com', target: '_blank;'}
        -# %i.material-icons image
        -#
          JPEGger
          .text-danger Powered by
          = image_tag('tranact_logo_small.png')
        - unless current_user.company.logo.url.blank?
          = image_tag(current_user.company.logo.url(:thumb), class: 'img-fluid')
        - else
          = image_tag('JPEGger_powered_by_Tranact_Logo_small.png', class: 'img-fluid')
        
  .sidebar-wrapper
    %ul.nav
      -# %li.nav-item{:class => (current_page? root_path) ? "active" : ""}
      %li.nav-item{:class => (params[:controller] == 'welcome') ?  "active" : ""}
        %a.nav-link{:href => root_path}
          %i.material-icons dashboard
          %p Dashboard
      %li.nav-item
        %a.nav-link{:href => edit_user_registration_path(current_user)}
          %i.fa.fa-user
          = current_user.full_name
          %small.text-muted= "(#{current_user.role})"
      - unless images_table.blank?
        %li.nav-item{:class => (params[:controller] == 'images') ?  "active" : ""}
          %a.nav-link{:href => images_path}
            %i.fa.fa-image
            %p Images
      - unless shipments_table.blank?
        %li.nav-item{:class => (params[:controller] == 'shipments') ?  "active" : ""}
          %a.nav-link{:href => shipments_path}
            %i.fa.fa-truck
            %p Shipments
      %li.nav-item{:class => (params[:controller] == 'companies') ?  "active" : ""}
        %a.nav-link{:href => company_path(current_user.company)}
          %i.fa.fa-building
          %p= current_user.company.name
      %li.nav-item{:class => (params[:controller] == 'cameras') ?  "active" : ""}
        %a.nav-link{:href => cameras_path}
          %i.fa.fa-camera
          %p Cameras
      %li.nav-item{:class => (params[:controller] == 'users') ?  "active" : ""}
        %a.nav-link{:href => users_admin_index_path}
          %i.fa.fa-users
          %p Users
      %li.nav-item{:class => (params[:controller] == 'searches') ?  "active" : ""}
        %a.nav-link{:href => searches_path}
          %i.fa.fa-search
          %p User Searches
      %li.nav-item
        %hr
        %a.nav-link{:href => destroy_user_session_path, rel: "nofollow", data: {method: :delete, confirm: 'Are you sure you want to sign out?' }}
          %i.fa.fa-sign-out
          %p Sign Out