.wrapper
  = render 'shared/admin_sidebar' if browser.device.mobile?
  %div{class: browser.device.mobile? ? 'main-panel' : '' }
    = render 'shared/admin_dashboard_navbar'
    .content{style: 'margin-top: 0px;'}
      %div{class: browser.device.mobile? ? 'container-fluid' : 'container' }
        - unless browser.device.mobile?
          %ul.nav.justify-content-center
            %li.nav-item
              %h3
                JPEGger Web Powered by
                = image_tag('tranact_logo_small.png')

        = render 'shared/flash_messages'
        - unless @image_file.blank?
          = render 'image_files/alert_card'
        .row
          .col-lg-12.col-md-12.col-sm-12
            - if current_user.admin?
              = render partial: 'images/admin_search_card', locals: { url: root_path }
        .row
          .col-lg-12.col-md-12
            = render 'images/admin_table_results'
    = render partial: 'shared/footer'