.wrapper
  .sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => asset_path("sidebar-1.jpg")}
    /
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    .logo
      %a.simple-text.logo-normal{:href => "#"}
        %i.fa.fa-photo
        JPEGger WEB
    .sidebar-wrapper
      %ul.nav
        %li.nav-item.active
          %a.nav-link{:href => root_path}
            %i.material-icons dashboard
            %p Dashboard
        
  .main-panel
    / Navbar
    %nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top
      .container-fluid
        .navbar-wrapper
          %a.navbar-brand{:href => "#pablo"} Dashboard
        %button.navbar-toggler{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon.icon-bar
          %span.navbar-toggler-icon.icon-bar
          %span.navbar-toggler-icon.icon-bar
        .collapse.navbar-collapse.justify-content-end
          = form_tag root_path, :method => 'get', :class => "navbar-form" do
            = text_field_tag "search[ticket_number]", nil, :placeholder => "Ticket Number", value: @ticket_number, class: "form-control"
            = text_field_tag "search[event_code]", nil, :placeholder => "Event Code", value: @event_code, class: "form-control"
            = text_field_tag "search[start_date]", nil, :placeholder => "Start Date", value: @start_date, class: "start_datepicker form-control", readonly: true
            %span.navbar-text To
            &nbsp;
            = text_field_tag "search[end_date]", nil, :placeholder => "End Date", value: @end_date, class: "end_datepicker form-control", readonly: true
            &nbsp;
            = button_tag(:type => 'submit', :class => 'btn btn-white btn-round btn-just-icon') do
              %i.material-icons search
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a#navbarDropdownProfile.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#pablo"}
                %i.material-icons person
                %p.d-lg-none.d-md-block
                  Account
              .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownProfile"}
                %a.dropdown-item{:href => "#"}
                  = current_user.full_name
                  %br
                  %small.text-muted= "(#{current_user.role})"
                %a.dropdown-item{:href => "#"} Settings
                .dropdown-divider
                = link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure you want to log out?' }
    / End Navbar
    .content
      .container-fluid
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12
            .card
              .card-header.card-header-warning
                %h4.card-title Images
                %p.card-category
                  = "#{pluralize(number_with_delimiter(@all_images.count), 'image')} found"
              .card-body.table-responsive
                - unless @images.blank?
                  %table.table.table-hover
                    %thead.text-warning
                      %th Date
                      %th Capture Number
                      %th Ticket Number
                      %th Camera Name
                      %th Event Code
                      %th Customer Name
                      %td
                    %tbody
                      - @images.each do |image|
                        %tr
                          %td= image['SYS_DATE_TIME']
                          %td= image['CAPTURE_SEQ_NBR']
                          %td= link_to image['TICKET_NBR'], root_path("search[ticket_number]" => image['TICKET_NBR'])
                          %td= image['CAMERA_NAME']
                          %td= link_to image['EVENT_CODE'], root_path("search[event_code]" => image['EVENT_CODE'])
                          %td= image['CUST_NAME']
                          %td
                            %button.btn.btn-sm.btn-warning{"data-target" => "#image_#{image['CAPTURE_SEQ_NBR']}_modal", "data-toggle" => "modal", :type => "button"}
                              %i.fa.fa-photo

                        = render partial: 'images/modal', locals: {image: image}
                - else
                  %p None
              .card-footer
                = paginate @images
    %footer.footer
      .container-fluid
        %nav.float-left
          %ul
            %li
              %a{:href => "https://tranact.com"}
                Transact
            %li
              %a{:href => "https://tranact.com"}
                About Us
            %li
              %a{:href => "https://tranact.com"}
                Blog
            %li
              %a{:href => "https://tranact.com"}
                Licenses
        .copyright.float-right
          ©
          = Date.today.year

  :javascript
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });

:javascript
  window.addEventListener('DOMContentLoaded', function()
    {
        var $start = document.querySelector('.start_datepicker'),
            $end = document.querySelector('.end_datepicker');
        $start.DatePickerX.init({
            mondayFirst: true,
            format: 'yyyy-mm-dd',
            minDate    : new Date(2012, 1, 1),
            maxDate    : $end
        });
        $end.DatePickerX.init({
            mondayFirst: true,
            format: 'yyyy-mm-dd',
            minDate    : $start,
            //maxDate    : new Date(2017, 4, 25)
        });
    });