.wrapper
  = render 'shared/external_user_sidebar' if browser.device.mobile?
  %div{class: browser.device.mobile? ? 'main-panel' : '' }
    = render 'shared/external_user_dashboard_navbar'
    / End Navbar
    .content{style: 'margin-top: 0px;'}
      %div{class: browser.device.mobile? ? 'container-fluid' : 'container' }
        - unless browser.device.mobile?
          %ul.nav.justify-content-center
            %li.nav-item
              %h3
                -#
                  JPEGger Web Powered by
                  = image_tag('tranact_logo_small.png')
                - unless current_user.company.logo.url.blank?
                  = image_tag(current_user.company.logo.url(:medium), class: 'img-fluid')
                - else
                  = link_to image_tag('JPEGger_powered_by_Tranact_Logo_medium.png'), 'https://www.tranact.com', target: '_blank;'
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12.col-sm-12
            - if current_user.external?
              =# render partial: 'images/external_user_search_card', locals: { url: root_path }
              = render partial: 'images/search_card', locals: { url: root_path }
        .row
          .col-lg-12.col-md-12
            =# render 'images/external_user_table_results'
            = render 'images/table_results'

    = render partial: 'shared/footer'
-#
  :javascript
    window.addEventListener('DOMContentLoaded', function()
      {
          var $start = document.querySelector('.start_datepicker'),
              $end = document.querySelector('.end_datepicker');
          $start.DatePickerX.init({
              mondayFirst: true,
              format: 'yyyy-mm-dd',
              minDate    : new Date(2012, 1, 1),
              maxDate    : $end
          });
          $end.DatePickerX.init({
              mondayFirst: true,
              format: 'yyyy-mm-dd',
              minDate    : $start,
              //maxDate    : new Date(2017, 4, 25)
          });
      });