.wrapper
  = render 'shared/external_user_sidebar'
        
  .main-panel
    = render 'shared/external_user_dashboard_navbar'
    / End Navbar
    .content{style: 'margin-top: 0px;'}
      .container-fluid
        = render 'shared/flash_messages'
        .row
          .col-lg-12.col-md-12.col-sm-12
            - if current_user.external?
              = render partial: 'images/external_user_search_card', locals: { url: root_path }
        .row
          .col-lg-12.col-md-12
            = render 'images/external_user_table_results'

    = render partial: 'shared/footer'

:javascript
  window.addEventListener('DOMContentLoaded', function()
    {
        var $start = document.querySelector('.start_datepicker'),
            $end = document.querySelector('.end_datepicker');
        $start.DatePickerX.init({
            mondayFirst: true,
            format: 'yyyy-mm-dd',
            minDate    : new Date(2012, 1, 1),
            maxDate    : $end
        });
        $end.DatePickerX.init({
            mondayFirst: true,
            format: 'yyyy-mm-dd',
            minDate    : $start,
            //maxDate    : new Date(2017, 4, 25)
        });
    });