= simple_form_for @company  do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-xs-12.col-sm-6
        = f.input :name, label: 'Name'
      .col-xs-12.col-sm-6
        = f.input :phone, label: 'Phone'
    .row
      .col-xs-12.col-sm-6
        = f.input :jpegger_service_ip, label: 'JPEGger Service IP'
      .col-xs-12.col-sm-6
        = f.input :jpegger_service_port, label: 'JPEGger Service Port'
    .row
      .col-xs-12.col-sm-6
        .form-group
          .form-check
            %label.form-check-label
              = f.check_box :leads_online, class: 'form-check-input'
              Leads Online
              %span.form-check-sign
                %span.check
      .col-xs-12.col-sm-6{id: 'leads_online_row', style: @company.leads_online? ? 'display:block;' : 'display:none;'}
        = f.input :leads_online_store_id, label: 'Leads Online Store ID'
    %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}} 
      Save

:javascript

  $(document).on("click", '#company_leads_online' , function() {
    if($(this).is(":checked")){
      $('#leads_online_row').fadeIn();
    }
    else if($(this).is(":not(:checked)")){
      $('#leads_online_row').fadeOut();
    }
  });