.wrapper
  = render 'shared/admin_sidebar'
  .main-panel
    = render 'shared/admin_dashboard_navbar'
    .content{style: 'margin-top: 0px'}
      .container-fluid
        = render 'shared/flash_messages'
        .col-lg-12.col-md-12
          .card
            .card-header.card-header-warning
              %h4.card-title
                = "#{@company.name} Settings"
                .pull-right 
                  %a.btn.btn-sm.btn-primary{href: edit_company_path(@company)}
                    %i.fa.fa-pencil-square-o
            .card-body
              %p
                %strong ID:
                = @company.yard_id.blank? ? 'None' : @company.yard_id
                %br
                %strong Phone:
                = @company.phone
                %br
                %strong JPEGger Service IP:
                = @company.jpegger_service_ip
                %br
                %strong JPEGger Service Port:
                = @company.jpegger_service_port
                - if @company.leads_online
                  %br
                  %strong Leads Online
                  = @company.leads_online_store_id
                - unless @company.logo.url.blank?
                  %br
                  %strong Logo
                  %br
                  = image_tag(@company.logo.url(:thumb), id: 'current_logo_image', class: 'img-fluid', style: "max-width: 100%; and height: auto;")
              %p
                %strong= image_event_code_field_description
                - unless @image_event_codes.blank?
                  %br
                  - @image_event_codes.each do |event_code|
                    = event_code
                    %br
                - else
                  None