.content
  .container-fluid
    = render 'shared/flash_messages'
    .row
      .col-sm-9.col-md-9.mx-auto 
        .card
          .card-header
            %h4.card-title.text-center 
              %i.fa.fa-photo
              = @shipment.capture_seq_nbr
              .pull-right= link_to "<i class='fa fa-close'></i>".html_safe, :back
          .card-body
            %p
              =# image_tag("#{request.protocol}#{request.host}#{@shipment.url}", alt: @shipment.capture_seq_nbr, class: 'img img-fluid img-thumbnail')
              = image_tag(@shipment.azure_url, alt: @shipment.capture_seq_nbr, class: 'img img-fluid img-thumbnail')
            %p.card-text
              = @shipment.sys_date_time
              %br
              %strong
                =# shipment_ticket_nbr_field_description
                Ticket Number
              = link_to @shipment.ticket_nbr, shipments_path(ticket_number: @shipment.ticket_nbr) unless @shipment.ticket_nbr.blank?
              %br
              %strong Camera
              = @shipment.camera_name
              %br
              %strong
                =# shipment_event_code_field_description
                Event Code
              = link_to @shipment.event_code, shipments_path(event_code: @shipment.event_code) unless @shipment.event_code.blank?
              - unless current_user.external?
                %br
                %strong
                  =# shipment_cust_name_field_description
                  Customer Name
                = link_to @shipment.cust_name, shipments_path(customer_name: @shipment.cust_name) unless @shipment.cust_name.blank?