.card
  .card-header.card-header-icon
    .card-icon
      %i.fa.fa-image.fa-2x
    %h4.card-title 
      Images
      .pull-right
        %a.btn.btn-sm.btn-primary{href: '#new_signature_image', "data-target" => "#new_signature_image", "data-toggle" => "modal"}
          %i.fa.fa-pencil
          Sign
        %a.btn.btn-sm.btn-primary{href: '#new_image', "data-target" => "#new_image", "data-toggle" => "modal"}
          %i.fa.fa-plus
          Image
  = render 'image_files/new_modal'
  = render 'image_files/new_signature_modal'
  .card-body.table-responsive
    - unless @images.blank?
      %table.table.table-hover
        %thead.text-warning
          %th Image
          %th Date
          %th= image_cust_name_field_description
          %th= image_ticket_nbr_field_description
          - unless browser.device.mobile?
            %th Camera Name
          - unless browser.device.mobile?
            %th= image_event_code_field_description
          - unless browser.device.mobile?
            %th Hidden
          - unless browser.device.mobile?
            %th= image_capture_seq_nbr_field_description
          %th
        %tbody{id: 'image_search_results'}
          - @images.each do |image|
            %tr
              %td
                - if @show_thumbnails == '1'
                  %a{href: image_path(image.capture_seq_nbr)}
                    = image_tag(image.thumbnail_url, alt: image.capture_seq_nbr, class: 'col-sm-6 img img-fluid')
                - else
                  - unless browser.device.mobile?
                    %a.btn.btn-sm{href: image_path(image.capture_seq_nbr)}
                      Show
                  - else
                    %a{href: image_path(image.capture_seq_nbr)}
                      %i.fa.fa-photo
              %td= image.sys_date_time
              %td= link_to image.cust_name, images_path("search[customer_name]" => image.cust_name, :show_thumbnails => @show_thumbnails) unless image.cust_name.blank?
              %td= link_to image.ticket_nbr, images_path("search[ticket_number]" => image.ticket_nbr, :show_thumbnails => @show_thumbnails) unless image.ticket_nbr.blank?
              - unless browser.device.mobile?
                %td= image.camera_name
              - unless browser.device.mobile?
                %td= link_to image.event_code, images_path("search[event_code]" => image.event_code, :show_thumbnails => @show_thumbnails) unless image.event_code.blank?
              - unless browser.device.mobile?
                %td= "#{(image.hidden.blank? or image.hidden == '0') ? 'No' : 'Yes'}"
              - unless browser.device.mobile?
                %td= image.capture_seq_nbr
              %td
                %a.btn.btn-sm.btn-primary.new_line_item_picture_button{href: '#new_image', "data-target" => "#new_image", "data-toggle" => "modal", "data-ticket-number" => image.ticket_nbr, "data-customer-name" => image.cust_name, "data-event-code" => image.event_code}
                  %i.fa.fa-plus
                

            =# render partial: 'images/modal', locals: {image: image}
    - else
      %p None
  .card-footer=# paginate @images unless @images.blank?