.card
  .card-header.card-header-warning
    %h4.card-title 
      Images
  .card-body
    .row
      - @images.each do |image|
        .col-sm-12.col-md-3
          .card
            = image_tag(Image.preview_source(image['CAPTURE_SEQ_NBR'], current_user.company_id), alt: image['CAPTURE_SEQ_NBR'], class: 'card-img-top', style: 'width: 100%')
            .card-body
              %h5.card-title= image['SYS_DATE_TIME']
              %p.card-text
                %strong Ticket
                = link_to image['TICKET_NBR'], images_path("search[ticket_number]" => image['TICKET_NBR']) unless image['TICKET_NBR'].blank?
                %br
                %strong Camera
                = image['CAMERA_NAME']
                %br
                %strong Event
                = link_to image['EVENT_CODE'], images_path("search[event_code]" => image['EVENT_CODE']) unless image['EVENT_CODE'].blank?
                %br
                = image['CAPTURE_SEQ_NBR']

              %a.btn.btn-info{href: image_path(image['CAPTURE_SEQ_NBR'])} 
                %i.fa.fa-image
                Show

  .card-footer= paginate @images