.card
  .card-header.card-header-warning
    %h4.card-title 
      Images
  .card-body.table-responsive
    - unless @images.blank?
      %table.table.table-hover
        %thead.text-warning
          %th Date
          %th= image_ticket_nbr_field_description
          %th Camera Name
          %th= image_event_code_field_description
          %th= image_capture_seq_nbr_field_description
          %th
        %tbody
          - @images.each do |image|
            %tr
              %td= image['SYS_DATE_TIME']
              %td= link_to image['TICKET_NBR'], root_path("search[ticket_number]" => image['TICKET_NBR']) unless image['TICKET_NBR'].blank?
              %td= image['CAMERA_NAME']
              %td= link_to image['EVENT_CODE'], root_path("search[event_code]" => image['EVENT_CODE']) unless image['EVENT_CODE'].blank?
              %td= image['CAPTURE_SEQ_NBR']
              %td
                %a.btn.btn-sm.btn-info{href: image_path(image['CAPTURE_SEQ_NBR'])}
                  %i.fa.fa-photo

    - else
      %p None
  .card-footer= paginate @images