.card.card-stats
  .card-header.card-header-warning.card-header-icon
    .card-icon
      %i.material-icons search
    %p.card-category Image Search
    - unless @all_images.blank?
      %h3.card-title= "#{pluralize(number_with_delimiter(@all_images.count), 'image')} found."
  .card-body
    = form_tag url, :method => 'get' do
      .row
        .col-sm-12.col-md-6
          .row
            .col-md-6
              = text_field_tag "search[ticket_number]", nil, :placeholder => image_ticket_nbr_field_description, value: @ticket_number, class: "form-control"
          .row
            .col-md-6
              =# text_field_tag "search[event_code]", nil, :placeholder => image_event_code_field_description, value: @event_code, class: "form-control"
              = select_tag "search[event_code]", options_for_select(LookupDef.image_event_codes(current_user), @event_code), prompt: image_event_code_field_description, class: "form-control"
            .col-md-6
              - unless current_user.external?
                = text_field_tag "search[customer_name]", nil, :placeholder => image_cust_name_field_description, value: @customer_name, class: "form-control"
          - if browser.device.mobile?
            %br
        .col-sm-12.col-md-6
          .row
            .col-sm-12
              .row
                .col-sm-5
                  -# %label{:for => "search[start_date]"} Start
                  = text_field_tag "search[start_date]", nil, type: 'date', :placeholder => "yyyy-mm-dd", value: @start_date, class: "form-control"
                .col-sm-2
                  - if browser.device.mobile?
                    %br
                  .text-center To
                .col-sm-5
                  -# %label{:for => "search[end_date]"} End
                  = text_field_tag "search[end_date]", nil, type: 'date', :placeholder => "yyyy-mm-dd", value: @end_date, class: "form-control"
            -#
              .col-sm-12
                %ul.nav.justify-content-center
                  %li.nav-item
                    .form-group
                      %label{:for => "search[start_date]"} Start
                      = text_field_tag "search[start_date]", nil, type: 'date', :placeholder => "yyyy-mm-dd", value: @start_date, class: "form-control"
                  %li.nav-item
                    &nbsp;
                  %li.nav-item
                    .form-group
                      %label{:for => "search[end_date]"} End
                      = text_field_tag "search[end_date]", nil, type: 'date', :placeholder => "yyyy-mm-dd", value: @end_date, class: "form-control"
          .row
            .col-md-6
            .col-md-6
              .form-check
                %label.form-check-label
                  %input.form-check-input{id: 'show_thumbnails', name: 'show_thumbnails', :type => "checkbox", :value => 1, checked: @show_thumbnails}/
                  =# check_box_tag :show_thumbnails, class: 'form-check-input', type: 'checkbox'
                  Thumbnails
                  %span.form-check-sign
                    %span.check
                = button_tag(:type => 'submit', :class => 'btn') do
                  %i.material-icons search
                  Search
          

  -#
    .card-footer
      .stats
        %i.material-icons.text-danger warning
        %a{:href => "#pablo"} Get More Space...