.content
  .container-fluid
    = render 'shared/flash_messages'
    .row
      .col-sm-9.col-md-9.mx-auto 
        .card
          .card-header
            %h4.card-title.text-center 
              %i.fa.fa-photo
              = @image['CAPTURE_SEQ_NBR']
              .pull-right= link_to "<i class='fa fa-close'></i>".html_safe, :back
          = image_tag(Image.jpeg_image_source(@image['CAPTURE_SEQ_NBR'], current_user.company_id), alt: @image['CAPTURE_SEQ_NBR'], class: 'card-img-top', style: 'width: 100%')
          .card-body
            %p.card-text
              = @image['SYS_DATE_TIME']
              %br
              %strong= image_ticket_nbr_field_description
              = link_to @image['TICKET_NBR'], root_path("search[ticket_number]" => @image['TICKET_NBR']) unless @image['TICKET_NBR'].blank?
              %br
              %strong Camera
              = @image['CAMERA_NAME']
              %br
              %strong= image_event_code_field_description
              = link_to @image['EVENT_CODE'], root_path("search[event_code]" => @image['EVENT_CODE']) unless @image['EVENT_CODE'].blank?
              %br
              %strong= image_cust_name_field_description
              = link_to @image['CUST_NAME'], root_path("search[customer_name]" => @image['CUST_NAME']) unless @image['CUST_NAME'].blank?