.content
  .container-fluid
    = render 'shared/flash_messages'
    .row
      .col-sm-9.col-md-9.mx-auto 
        .card
          .card-header
            %h4.card-title.text-center 
              %i.fa.fa-photo
              = @image.capture_seq_nbr
              .pull-right= link_to "<i class='fa fa-close'></i>".html_safe, :back
          .card-body
            %p= image_tag("#{request.protocol}#{request.host}#{@image.url}", alt: @image.capture_seq_nbr, class: 'img img-fluid img-thumbnail')
            %p.card-text
              = @image.sys_date_time
              %br
              -# %strong= image_ticket_nbr_field_description
              = link_to @image.ticket_nbr, root_path("search[ticket_number]" => @image.ticket_nbr) unless @image.ticket_nbr.blank?
              %br
              %strong Camera
              = @image.camera_name
              %br
              -# %strong= image_event_code_field_description
              = link_to @image.event_code, root_path("search[event_code]" => @image.event_code) unless @image.event_code.blank?
              - unless current_user.external?
                %br
                -# %strong= image_cust_name_field_description
                = link_to @image.cust_name, root_path("search[customer_name]" => @image.cust_name) unless @image.cust_name.blank?
              - unless @image.contr_nbr.blank?
                - contract = Contract.find_by_contract_number(@image.contr_nbr, current_user)
                - unless contract.blank?
                  %br
                  %strong Contract Verbiage
                  = contract.text1